body {
    background: var(--background);
}

.table {
    display: flex;
    flex-direction: column;
}


.row-data,
.row {
    display: flex;
    flex-direction: row;

    background: #272727;
    border: 1px solid #FFA600;
    border-radius: 5px;

    margin-top: 0.2rem;
}

.row-data{
    cursor: pointer;
    transition: filter 0.5s ease;
}

.row-data:hover{
    filter: blur(2px);
}

.cell{
    padding: 1rem;
    width: 9rem;

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--text-accent);
}

.cell-header{

    color: var(--text);
    padding: 1rem;
    width: 9rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.divide-line-list-casefici{
    border: 1px solid #FFA600;
}

.caseficio-list{
    margin-top: 1rem;
}