body {
    background: var(--background);

    height: 90vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    color: var(--text-accent);
}


.main-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 25rem;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 9rem;
}

.img-wrapper {
    position: fixed;
    z-index: -1;
  }

::placeholder{
    color: var(--text-accent);
}

