.img-wrapper {
    position: fixed;
    z-index: -1;
  }

.cheese-1{
    position: fixed;


    left: 0.438rem;
    right: 0;
    top: 10.162rem;
    bottom: 0;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.cheese-3{
    position: fixed;


    left: 3.563rem;
    right: 0;
    top: 26.912rem;
    bottom: 0;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.cheese-4{
    position: fixed;


    left: 4.938rem;
    right: 0;
    top: 41.724rem;
    bottom: 0;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.cheese-5{
    position: fixed;


    left: 9.625rem;
    right: 0;
    top: 17.287rem;
    bottom: 0;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.cheese-2{
    position: fixed;


    left: 24.438rem;
    right: 0;
    top: 40.287rem;
    bottom: 0;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.cheese-6{
    position: fixed;


    left: 17.813rem;
    right: 0;
    top: 32.474rem;
    bottom: 0;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.cheese-7{
    position: fixed;


    left: 21.813rem;
    right: 0;
    top: 10.912rem;
    bottom: 0;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.cheese-8{
    position: fixed;


    left: 31.25rem;
    right: 0;
    top: 26.349rem;
    bottom: 0;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.cheese-9{
    position: fixed;


    left: 37.75rem;
    right: 0;
    top: 39.287rem;
    bottom: 0;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.cheese-10{
    position: fixed;


    left: 38.625rem;
    right: 0;
    top: 16.537rem;
    bottom: 0;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.cheese-11{
    position: fixed;


    left: 49rem;
    right: 0;
    top: 42.662rem;
    bottom: 0;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.cheese-12{
    position: fixed;


    left: 54.938rem;
    right: 0;
    top: 13.037rem;
    bottom: 0;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.cheese-13{
    position: fixed;


    left: 65.625rem;
    right: 0;
    top: 15.349rem;
    bottom: 0;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.cheese-14{
    position: fixed;


    left: 69.5rem;
    right: 0;
    top: 31.224rem;
    bottom: 0;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.cheese-15{
    position: fixed;


    left: 74.375rem;
    right: 0;
    top: 42.162rem;
    bottom: 0;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.cheese-16{
    position: fixed;


    left: 54.938rem;
    right: 0;
    top: 33.037rem;
    bottom: 0;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.cheese-17{
    position: fixed;


    left: 76.938rem;
    right: 0;
    top: 19.037rem;
    bottom: 0;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.cheese-18{
    position: fixed;


    left: -2.625rem;
    right: 0;
    top: 3.537rem;
    bottom: 0;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.cheese-19{
    position: fixed;


    left: 9.75rem;
    right: 0;
    top: 5.162rem;
    bottom: 0;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.cheese-20{
    position: fixed;


    left: 34.688rem;
    right: 0;
    top: 3.349rem;
    bottom: 0;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.cheese-21{
    position: fixed;


    left: 62rem;
    right: 0;
    top: 3.724rem;
    bottom: 0;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.cheese-22{
    position: fixed;


    left: 78.313rem;
    right: 0;
    top: 1.349rem;
    bottom: 0;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}




