body {
    margin-left: 6.5rem;
    margin-right: 6.5rem;

}

a {
    all: unset;
    cursor: pointer;
}

#cheese,
#milk{
    cursor: pointer;
}

/*----------------------------UTILS----------------------------*/
.display-none{
    display: none !important;
}

/*----------------------------INPUTS----------------------------*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.input-data {
    background: var(--background);
    color: var(--text-accent);

    border: 1px solid var(--background-accent);
    border-radius: 5px;

    width: 18.5rem;
    height: 3.5rem;

    padding-left: 1rem;

    cursor: pointer;
}

.input-data-select{
    background: var(--background);
    color: var(--text-accent);

    border: 1px solid var(--background-accent);
    border-radius: 5px;

    width: 19.8rem;
    height: 3.5rem;

    padding-left: 1rem;

    cursor: pointer;
}

.wrapper-data {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    margin-bottom: 0.5rem;
}

.show-data{
    background: var(--background-accent);
    color: var(--text-extend);

    border: 1px solid var(--background-accent);
    border-radius: 5px;

    width: 18.5rem;
    height: 3.5rem;

    padding-left: 1rem;
}
/*----------------------------BUTTONS----------------------------*/

.wrapper-btns {
    display: flex;
    justify-content: space-between;
}

.submit-btn {
    background: var(--background-accent);
    cursor: pointer;

    width: 19.5rem;
    height: 3.5rem;

    border-radius: 10px;
    border: 1px solid var(--background-accent);
}

.submit-txt{
    color: var(--text-extend);
}

.cancel-btn{
    background: var(--background);
    color: var(--text);

    cursor: pointer;

    width: 19.5rem;
    height: 3.5rem;

    border-radius: 10px;
    border: 1px solid var(--background-extend);
}

.submit-btn:hover {
    background: var(--background);
    color: var(--text-accent);
    border: 1px solid var(--background-accent);
}

.cancel-btn:hover {
    background: var(--background-extend);
    color: var(--text-extend);
    border: 1px solid var(--background-extend);
}
